.recipe {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1%;
  margin: 2%;
  text-decoration: underline;
  color: black;
  border: solid rgb(172, 167, 167) 1px;
  width: 160px;
  margin-right: 6px;
  margin-left: 0px;
}
