.categories button {
  background-image: linear-gradient(0, rgb(221, 11, 11), rgb(255, 185, 55));
  border: none;
  border-radius: 9px;
  box-shadow: 5px 5px 5px rgb(236, 163, 80);
  font-size: 14px;
  height: 30px;
  left: 50%;
  margin: 5px;
  top: 50%;
  width: 110px;
}