.scroll {
  display: flex;
  flex-direction: 'row';
  height: 250px;
  overflow: auto;
  width: 200px;
}

.buttonStart, .buttonFinish {
  bottom: 0;
  position: fixed;
}

.checkbox {
  text-decoration: line-through;
}

/* none solid black; */
