.foods {
  background-color:rgb(255, 249, 214);
  padding-top: 15%;
  display: flex;
  flex-direction: column;
}

.food-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe-card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-left: 6%;
  padding-block-end: 11%;
}