.Header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header {
  background-color: orange;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
}

.title-header {
  font-size: 20px;
  font-weight:bold;
  padding-left: 7px;
}

.button-header {
  background-color: orange;
  border: none;
  height: 30px;
  left: 50%;
  margin: 4px;
  top: 50%;
  width: 50px;
}

.false {
  color: orange;
}