.Header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header {
  background-color: orange;
  width: 500px;
  display: flex;
  padding: 2px;
  padding-left: 4%;
}

.title-header {
  font-size: 20px;
  font-weight:bold;
  margin-left: 18%;
}

.button-profile {
  margin-right: 40px;
}

.button-header {
  background-color: orange;
  border: none;
  height: 30px;
  left: 50%;
  margin: 5px;
  padding-left: 30%;
  top: 50%;
  width: 50px;
}