.footer {
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
}

footer {
  background-image: linear-gradient(0, rgb(221, 11, 11), orange);
  display: flex;
  justify-content: space-between;
  margin-right: 1%;
  padding-left: 3%;
  padding-right: 4%;
  width: 500px;
}

