body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 :root {
   --main-color: #ececec;
   --secondary-color: #181725;
   --accent-color: rgb(252, 140, 140);
   --vermelho: red;
   --cinza: gray;
   --bordo: rgba(146, 11, 11, 0.5);
 }

 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 }

